<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Add Task</h1>
    </header>
    <main>
        <form action="{{ url_for('add_task') }}" method="POST">
            <div>
                <label for="name_task">Task Name:</label>
                <input type="text" id="name_task" name="name_task" required>
            </div>
            <div>
                <label for="deadline">Deadline:</label>
                <input type="date" id="deadline" name="deadline" required>
            </div>
            <button type="submit">Add Task</button>
        </form>
    </main>
</body>
</html>

