/* General body styling */
body {
    font-family: 'Times New Roman', Times, serif; /* Sets the font family for the entire page */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    display: flex; /* Sets the body to use flexbox layout */
    flex-direction: column; /* Arranges flex items (children) in a column */
    align-items: center; /* Centers items horizontally */
    justify-content: center; /* Centers items vertically */
    height: 100vh; /* Sets the height of the body to 100% of the viewport height */
    background-color: #9daca7; /* Sets the background color of the page */
}

/* Header styling */
header {
    font-family:'Bradley Hand';
    background-color: #333; /* Sets the background color of the header */
    color: #9daca7; /* Sets the text color */
    padding: 1rem; /* Adds padding inside the header */
    width: 100%; /* Sets the width of the header to 100% of its container */
    text-align: center; /* Centers the text inside the header */
}

/* Main section styling */
main {
    margin-top: 1rem; /* Adds a margin at the top of the main section */
}

/* List styling */
ul {
    list-style-type: none; /* Removes default list bullets */
    padding: 0; /* Removes default padding */
}

/* List item styling */
li {
    background-color: #f3f7f6; /* Sets the background color of each list item */
    border: 1px solid #ddd; /* Adds a border with a light gray color */
    margin: 0.5rem 0; /* Adds a margin above and below each list item */
    padding: 1rem; /* Adds padding inside each list item */
    border-radius: 4px; /* Rounds the corners of the list items */
    width: 300px; /* Sets the width of each list item */
    text-align: center; /* Centers the text inside each list item */
}

/* Add button styling */
.add-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
    padding: 0.5rem;
    background-color: #9daca7;
    color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 50%;
    font-size: 3rem;
    text-decoration: none;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    line-height: 1.5rem;
}

/* Remove button styling */
.remove-button {
    background-color: #9daca7; /* Sets the background color */
    border: 1px solid #ddd; /* Adds a border with a light gray color */
    margin: 0.5rem 0; /* Adds a margin above and below the button */
    padding: 1rem; /* Adds padding inside the button */
    border-radius: 4px; /* Rounds the corners of the button */
    width: 200px; /* Sets the width of the button */
    text-align: center; /* Centers the text inside the button */
}

/* Add button hover effect */
.add-button:hover {
    background-color: #9daca7; /* Changes the background color on hover */
}
